table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
  font-weight: 400;
}

.Green {
  color: green;
  font-weight: 500;
}

.Red {
  color: red;
  font-weight: 500;
}

.Yellow {
  color: #FFE800;
  font-weight: 500;
}
